.phone-screen {
  width: 318px;
  height: 680px;
  border: 12px solid black;
  border-radius: 45px;
  padding: 16px;
  background-color: #788F70;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  position: relative;
}

.top-section {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.welcome-text {
  font-size: 13px;
  margin-top: 20px;
}

.welcome-text p {
  font-size: 15px;
  margin: 0;
}

.user-name {
  color: #8db5ff;
}

.icons {
  display: flex;
  gap: 12px;
  margin-bottom: 60px;
  font-size: 20px;
}

.action-text {
  margin-top: 20px;
  font-size: 16px;
  color: #ffffff;
}

.categories-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-text {
  font-size: 20px;
  margin-right: 220px;
  color: white;
  margin-bottom: 1px;
}

.category {
  width: 35%;
  background-color: #0C4152;
  color: white;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  margin-bottom: 12px;
}

.category-icon {
  font-size: 32px;
  margin-bottom: 8px;
}

.footer-navigation {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  background-color: #6b715c;
  color: white;
  font-size: 14px;
  min-height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 18px;
}

.footer-navigation .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.footer-navigation .icon {
  font-size: 28px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.footer-navigation .icon-label {
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}